*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1250px !important;
    border: 1px solid black !important;
    padding: 0 15px !important;
    margin: 0 auto !important;
}